fastapi
uvicorn
google-genai
groq
pinecone
pandas
openpyxl
beautifulsoup4
requests
gdown
pypdf
python-docx
python-pptx
pillow
pytesseract
ffmpeg-python
faster-whisper
python-dotenv
python-multipart
streamlit
langsmith
